[Unit]
Description=App on port %i

# Requirements
Requires=etcd.service
Requires=docker.service
Requires=app-discovery@%i.service

# Dependency ordering
After=etcd.service
After=docker.service
Before=app-discovery@%i.service

[Service]
TimeoutStartSec=0
KillMode=none

# exposes $COREOS_PRIVATE_IPV4 var
EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill app%i
ExecStartPre=-/usr/bin/docker rm app%i
ExecStartPre=/usr/bin/docker pull tutum/hello-world

ExecStart=/usr/bin/docker run --rm --name app%i -p ${COREOS_PRIVATE_IPV4}:%i:80 tutum/hello-world

ExecStop=/usr/bin/docker stop app%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
# do not run service on machine it is already running on
X-Conflicts=app@*.service
